.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
  border: 1px dashed transparent;
  border-radius: 16px;
  transition: border-color 0.2s ease;
}

.drop_active {
  border-color: var(--colors-interface-accent);
}

.blocked_item {
  width: calc(100% - 16px);
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-height: calc(100vh - 525px);
  margin: 16px 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}

.ingredient_row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  border: 1px dashed var(--text-inactive-color);
  border-radius: var(--common-border-radius-s);
}

.total {
  display: flex;
  align-items: center;
  gap: 40px;
}

.total_price {
  display: flex;
  align-items: center;
  gap: 8px;
}
