.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_id {
  text-shadow:
    0 4px 32px rgb(51 51 255 / 50%),
    0 0 8px rgb(51 51 255 / 25%),
    0 0 16px rgb(51 51 255 / 25%);
}

.message {
  color: var(--text-primary-color);
}
